/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #fff;
}

/* Header */
header {
    background-color: #1e3a8a;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
    flex-grow: 1;
}

/* Search Bar */
#search-bar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    outline: none;
}

#search-bar:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Main Content */
main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #242424;
    padding: 10px;
    border-radius: 8px;
}

.track-info {
    flex-grow: 1;
    margin-right: 20px;
}

.track-title {
    margin: 0;
    font-size: 1.1em;
    color: #fff;
}

.track-artist {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #ccc;
}

.track-duration {
    color: #ccc;
    font-size: 0.9em;
    margin-right: 20px;
}

/* Audio Player */
.audio-player {
    width: 300px; /* Set a fixed width for all players */
    height: 30px; /* Set a consistent height for all players */
    outline: none;
    margin: 0;
}

/* Footer */
footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
